<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Новое слово</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h2>Добавление нового слова</h2>
<form th:action="@{/categories/{id}/admin/add(id=${category.id})}"
      method="POST"
      th:object="${formsOfWord}"
      enctype="multipart/form-data"
>
  <div th:each="i : ${#numbers.sequence(0, category.countForms - 1)}">
    <div class="inputFormsGroup">
      <label for="content">
        Введите слово на иностранном языке
      </label>
      <br>
      <input type="text"
             id="content"
             th:field="*{list[__${i}__].content}"
             placeholder="слово"
             required>
      <br>
      <label for="translation">
        Введите его перевод на русский
      </label>
      <br>
      <input type="text"
             id="translation"
             th:field="*{list[__${i}__].translation}"
             placeholder="перевод"
             required>
      <br>
      <label for="transcription">
        Введите его транскрипцию
      </label>
      <br>
      <input type="text"
             id="transcription"
             th:field="*{list[__${i}__].transcription}"
             placeholder="транскрипция"
             required>
      <br>
      <label for="audioFile">
        Выберете аудио при наличии
      </label>
      <br>
      <input type="file"
             id='audioFile'
             th:field="*{list[__${i}__].audioData}"
             accept="audio/*,.mp3">
      <small>Выберете mp3 файл до 1 МБ</small>
    </div>
    <hr>
  </div>

  <button type="submit">Добавить</button>
</form>
</body>
</html>