<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Языки</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
  <h1>Языки</h1>
  <div th:if="${isAdmin}">
    <a th:href="@{/languages/admin/add}">
        <button type="button">Добавить новый язык</button>
    </a>
  </div>
  <ul>
    <li th:each="l : ${languages}">
      <div class="languageContainer">
          <div th:if="${isAdmin}"
               class="delWordButton">
              <form th:action="@{/languages/admin/delete/{languageId}(languageId=${l.id})}"
                    method="POST"
                    onsubmit="return confirm('Вы уверены, что хотите удалить этот язык?')">
                  <button type="submit">
                    Удалить этот язык
                  </button>
              </form>
          </div>

          <div class="languageCart">
              <a th:href="@{/categories(language=${l.id})}">
                  <button th:text="${l.title}" type="button" class="toLanguageButton">
                  </button>
              </a>
          </div>
      </div>
    </li>
  </ul>
</body>
</html>