<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Вход</title>
</head>
<body>
<h2>Войдите в аккаунт</h2>
<form action="/auth/login" method="POST">
  <label>Введите ник</label>
  <br>
  <input type="text" name="nickname" id="username" placeholder="ваш ник">
  <br>
  <label>Введите пароль</label>
  <br>
  <input type="password" name="password" id="password">
  <p class="text-danger" th:if="${badLoginForm}">
    <mark>Неверный логин или пароль</mark>
  </p>
  <br>
  <button type="submit">Войти</button>
  <br>
  <br>
  <a href="/auth/registration"><button type="button">У меня нет аккаунта</button></a>
</form>
</body>
</html>