<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h2>Создайте новый аккаунт</h2>
    <form action="/auth/registration" method="POST">
        <label>Придумайте ник</label>
        <br>
        <input type="text" name="nickname" placeholder="ваш ник">
        <br>
        <label>Придумайте пароль</label>
        <br>
        <input type="password" name="password">
        <br>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>