<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Тренировка</title>
    <script th:src="@{/js/playSound.js}" defer></script>
</head>
<body>
<h1 th:text="|Тренировка категории &quot;${category.name}&quot; началась!|"></h1>
<form th:action="@{/categories/{categoryId}/training/{trainingId}(categoryId=${categoryId},trainingId=${trainingId})}"
      method="POST">
  <ol>
    <div th:each="question : ${questions}">
      <li>
        <div>
          <p th:text="${question.text}"></p>
          <div th:if="${question.type == 3 || question.type % 4 == 3}">
            <audio th:src="@{/audio/{wordId}/{formIndex}(wordId=${question.word.id},formIndex=${question.type / 4})}"
                   th:id="|audio-${question.word.id}-${question.type / 4}|"
                   preload="none">
            </audio>
            <button type="button"
                    th:text="|🔊${question.word.forms.get(question.type/4).transcription}|"
                    th:onclick="|playAudio('audio-${question.word.id}-${question.type / 4}')|">
            </button>
          </div>
          <input type="text" name="answers">
        </div>
      </li>
      <hr>
    </div>
  </ol>
  <button type="submit">Отправить ответы</button>
</form>
</body>
</html>