<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Таблица</title>
    <script th:src="@{/js/playSound.js}" defer></script>
</head>
<body>
  <h1 th:text="${category.name}"></h1>
  <h3 th:text="${category.description}"></h3>
  <div th:if="${#lists.isEmpty(words)}">
      <p>Слов в этой категории пока нет</p>
  </div>
  <div th:unless="${#lists.isEmpty(words)}">
  <a th:href="@{/categories/{id}/start-training(id=${category.id})}"><button>Начать тренировку</button></a>
  <table>
      <tbody>
      <tr th:each="word : ${words}">
          <div th:each="form, i : ${word.forms}">
              <td th:text="${form.content}"></td>
              <td th:text="${form.translation}"></td>
              <td th:if="${form.content == null}">
                  <button>Нет формы</button>
              </td>
              <td th:unless="${form.content == null}">
                  <div th:if="${form.isThereAudio}">
                      <audio th:src="@{/audio/{wordId}/{formIndex}(wordId=${word.id},formIndex=${i.index})}"
                             th:id="|audio-${word.id}-${i.index}|"
                             preload="none">
                      </audio>
                      <button th:onclick="|playAudio('audio-${word.id}-${i.index}')|"
                              th:text="|🔊${form.transcription}|">
                      </button>
                  </div>
                  <div th:unless="${form.isThereAudio}">
                      <button th:text="|${form.transcription}|"
                              disabled="true">
                      </button>
                  </div>

              </td>
          </div>
      </tr>
      </tbody>
  </table>
  </div>
</body>
</html>